.form {
    display: block;
    margin: 0 auto;
}

.input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.inputLabel {
    font-weight: 700;
}

.btn {
    cursor: pointer;
    margin-bottom: 10px;
}